.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #f1cdb0ce;
  background-clip: padding-box;
  width: 70%;
  margin: 2em auto 2em;
  padding: 1em;
  border-radius: 0.4em;
}

.form__group {
  text-align: left;
  width: 100%;
  margin: 0 auto 1em;
}

.form__group--required::after {
  color: #ff0000;
  content: " *";
}

.form__label {
  display: flex;
  margin: 0 auto 0.25em;
}

.form__control {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.375em 0.75em;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__control-choice {
  display: inline-block;
  color: #495057;
}

.form__control--resize-disabled {
  resize: none;
}

.form__control:focus {
  border-color: #33bbbbce;
  outline: 0;
  box-shadow: 0 0 0 0.05em #08a1a1be;
}

.form__button {
  font-size: 1em;
  color: #495057;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.75em;
  background: #f1cdb0;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
